
/*******BONUS M********************/

@media screen and (min-width: 560px) and (max-width:767px) {

   .col_bonus_1-1 {
        flex-basis:100%;
    }
    .col_bonus_1-2 {
        flex-basis: calc(100% / 2);
    }
} 




/*******BONUS XL********************/

@media screen and (min-width: 1200px){


.row-row-xl{
    flex-direction: row;
}

.col_bonus_1-3 {
    flex-basis: calc(100% /3);
}

}


/* non funziona  */
