/* **************************
    RESPONSIVE MOBILE-FIRST
****************************/


/*********MEDIUM SIZE*****************/

@media screen and (min-width: 480px) {

    .col_md_1-2 {
        flex-basis: calc(100% / 2);
    }


    .col_md_1-3 {
        flex-basis: calc(100% /3);
    }

    .col_md_2-3 {
        flex-basis: calc(100% /3 *2);
    }

    .c-set_md_01-light{
        color: var(--thirdary-colort);
    }


    /*************************
           BASE
    *************************/
    body {
        font-size: 14px;
    }


    /* ****** FREE + FOOTER********** */

    #free .row,
    #footer .row {
        justify-content: center;
    }

    #free .row>*,
    #footer .row>* {
        flex-grow: 0;
    }
}


/********LARGE SIZE*******************/
@media screen and (min-width: 768px) {

    .container {
        max-width: 920px;
    }

    .col_lg_1-2 {
        flex-basis: calc(100% / 2);
    }

    .col_lg_1-3 {
        flex-basis: calc(100% /3);
    }

    .col_lg_2-3 {
        flex-basis: calc(100% /3 *2);
    }

    .col_lg_1-4 {
        flex-basis: calc(100% /4);
    }

    .col_lg_3-4 {
        flex-basis: calc(100% /4 * 3);
    }

    .col_lg_1-5 {
        flex-basis: calc(100% /5);
    }

    .col_lg_4-5 {
        flex-basis: calc(100% /5 * 4);
    }

    .row-col {
        flex-direction: row;
     
    }

    /*************************
           BASE
    *************************/

    body {
        font-size: 16px;
    }


    /****** NAV *******/

    nav ul {
        display: inline-block
    }

    nav li {
        display: inline-block;
    }

    nav .sandwitch-menu {
        display: none;
    }



    /* ***** PLANNING ******* */
    #planning .row {
        margin: 0 5rem;
    }

    #planning .row-col .col_lg_1-5 {
        flex-shrink: 0;
    }

    #planning .row-col .col_lg_4-5 {
        flex-grow: 0;
    }

}