/* ***********************
        BASE
**************************/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* ***********************
        VARIABILI
**************************/

:root {
    --primary-color:#0084fd;
    --primary-color-light:#b5ddff;
    p:#9792e4;
    --tirdary-color:#fdc15f;

    --primary-lltext-color:#5b6f80;
}


/* ***********************
        CLASS-UTILITIES
**************************/
.container{
    margin: 0 auto;
    text-align: center;

}

.row {
    display: flex;
    flex-wrap: wrap;
    border: 2px solid salmon;
}

.row>*{
    border: 1px solid rgb(90, 23, 15);
    padding: 20px;
    flex-basis: 100%;
    flex-grow: 1;
    
}

.card{
    padding: 10px;
    border: 1px solid blue;
}

.col_1-2{
    flex-basis: calc(100% / 2);
}


/* colori */

.azul{
    background-color: var(--primary-color-light);
    color: #5b6f80;

}

.lilla{
    background-color: var(--secondary-color);
    color: white;
}

.white{
 background-color: white;
 color: black;
}

.b-rad_m{
    border-radius: 20px;
}

.b-rad_l{
    border-radius: 50px;
}


/* ***********************
        GENERAL
**************************/


a:not(footer){
    text-decoration: none;
}




/* ***********************
        MOBILE-FIRST
**************************/

nav ul{
    display: none;
}

#services .card-content .row{
    flex-direction: column;
}




/* ***********************
        EXPERT
**************************/

#expert .card-img img{
    border-radius: 50%;
}