/* ***********************
        BASE
**************************/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a,
a:hover,
a:active{
    color:unset;
    text-decoration: none;
}

/* ***********************
        VARIABILI
**************************/

:root {
    --primary-color: #0084fd;
    --primary-color-light: #b5ddff;

    --secondary-color: #9792e4;
    --secondary-color-light: #ffffff;

    --thirdary-color-dark: #000000;
    --thirdary-color: #333333;
    --thirdary-color-light: #667d90;

    --fourthary-color: #fdc15f;

}

/* ***********************
        palette colori
**************************/

/* bg blu txt e h bianco  */
.c-set_01{
    background-color: var(--primary-color);
    color: var(--secondary-color-light);
}

/* bg azzurro txt grigio + h bianco  */
.c-set_01-light{
    background-color: var(--primary-color-light);
    color: var(--thirdary-color-light);
}

.c-set_01-light .title{
    color: var(--primary-color);
}

/* bg lilla txt e h bianco */
.c-set_02 {
    background-color: var(--secondary-color);
    color: var(--secondary-color-light);
}

/* bg bianco txt grigio scuro + h lilla */
.c-set_03 {
    background-color: var(--secondary-color-light);
    color: var(--thirdary-color);
}
.c-set_03 .title{
    color: #9792e4;

}

/* bg bianco txt e h nero */
.c-set_04{
    background-color: var(--secondary-color-light);
    color: #000000;
}


/* bg grigio scuro + txt bianco */
.c-set_05 {
    background-color: var(--thirdary-color);
    color: var(--secondary-color-light);
}

/**********************************************/

/* radius */
.b-r_m {
    border-radius: 1rem;
}

.b-r_l {
    border-radius: 1.5rem;
}

/* bottoni */

.btn {
    padding: .5rem 2rem;
    border-radius: 1rem;
    border: none;
    margin: 0 0;
}

.btn.small,
a{
    padding: .5rem .5rem;
}


/* font-size */


/* ***********************
        CLASS-UTILITIES
**************************/
.container {
    margin: 0 auto;
    text-align: center;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -.5rem;
}

.row>* {
    padding: .5rem .5rem;
    flex-basis: 100%;
    flex-grow: 1;
}
.col_1-2 {
    flex-basis: calc(100% / 2);
}
.card{
    height: 100%;
}
.card-img img {
    border-radius: 50%;
}

/* centratura */
.center {
    text-align: center;
}

.subtitle{
    text-transform: uppercase;
}


/* ***********************
        GENERAL
**************************/
a,
button,
title {
    text-transform: capitalize;
}

img {
    display: inline-block;
    width: 50%;
}

/* ***********************
        MOBILE-FIRST
**************************/
/* ***********************
        NAV
**************************/

nav .row {
    align-items: center;
}
nav .nav-sx{
text-align: left;
}
nav .nav-dx{
    text-align: right;
}

nav ul {
    display: none;
}

nav .logo img {
    /* ____________________________________________ */
    width: 3rem;
}
/* ***********************
        SERVICES
**************************/
#services .row{
    text-align: left;
}




#service #s1_img{
    width: 50%;
}




/* ***********************
        STRATEGIC
**************************/
#app-dev .title h3{
    /* dimensione minore */
}





/* ***********************
        EXPERT
**************************/

#expert img{
    object-fit: cover;
    aspect-ratio: 1/1;

}

/* ***********************
        FREE
**************************/


/* rivedere se classe globale center */
#free.row {
    justify-content: center;
}

/* ***********************
            ABOUT
**************************/
#about .card

#about .card-icon .fa-quote-left{
    position: absolute;
    transform: translate( 100px 0 0);
}